doctype 5
html
  head
    title= title
    style
      ul {
          list-style:none;margin:0;padding:0
      }
      li {
          padding:.5em;border-bottom:1px solid #efefef;
          font-size: .8em;
          color: gray;
      }
      .filename {
          color:red;font-weight:800;font-size:1.5em;margin:0 1em;
      }
      button {
        font-size: 1.2em;  
      }
  body
    h1= title
    h2 文件列表 (目录：#{ path })
    div
      ul#list(style='display:none')
        li(id="file-{{showindex}}")
          | {{#isparsed}}
          button#restore(class="index-{{showindex}}") 还 原
          | {{/isparsed}}
          | {{^isparsed}}
          button#parse(class="index-{{showindex}}") 压 缩
          | {{/isparsed}}
          span.filename {{ name }}
          |  ({{ path }})
    hr
    footer
      p Honey Lab 2013
    | <script>
    |   var filelist = [];

    - each file in filelist
      |  filelist.push({name: "#{file.name}", path: "#{file.path}"});
    | </script>
    script(src="http://honey.hunantv.com/honey-2.0/honey.newhunantv.js")
    script(src="/public/js/app.js")
